.sidebar {
  width: 250px;
  background-color: #f8f9fa;
  border-right: 1px solid #dee2e6;
  padding: 20px;
  height: 100vh;
  overflow-y: auto;
  transition: transform 0.3s ease-in-out;
  position: relative;

  @media (max-width: 768px) {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    z-index: 1000;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  }

  &.open {
    @media (max-width: 768px) {
      transform: translateX(0);
    }
  }
}

.hamburger {
  display: none;
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 1100;
  font-size: 28px;
  background: none;
  border: none;
  color: #333;
  cursor: pointer;

  @media (max-width: 768px) {
    display: block;
  }
}

.searchContainer {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.searchInput {
  width: 90%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
  outline: none;
  transition: all 0.3s ease;

  &:focus {
    border-color: #3267d6;
    box-shadow: 0 0 5px rgba(50, 103, 214, 0.5);
  }
}

.broList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.bro {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;

  &:hover {
    background-color: #e9ecef;
  }
}

.profileContainer {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #d8d2d2;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #312a2a;
}

.profilePic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

 

.broName {
  margin-left: 10px;
  flex-grow: 1;
  color: #333;
}

.emptyState {
  color: #6c757d;
  text-align: center;
  padding: 1rem;
}

.profileMenu {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.settingsIcon {
  font-size: 24px;
  cursor: pointer;
  color: #444;
}

 .modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1200;
}

.modalContent {
  background-color: white;
  padding: 20px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 300px;
  width: 100%;
}

.modalButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.modalButton {
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.cancelButton {
  background-color: #6c757d;
  color: white;

  &:hover {
    background-color: #5a6268;
  }
}

.confirmButton {
  background-color: #f0e9e9;
  color: rgb(117, 113, 113);

  &:hover {
    background-color: #272121;
  }
}
