.authContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 400px;
  margin: 0 auto;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 15px; // Adds space between inputs
}

.passwordWrapper {
  position: relative;
  width: 100%;
  margin-bottom: 15px; 
}

.passwordWrapper input { 
  padding-right: 40px;
}

.eyeButton {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.eyeButton svg {
  color: #007bff;
}

.eyeButton:hover svg {
  color: #0056b3;
}

.button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;

  &:hover {
    background-color: #0056b3;
  }
}

.switchButton {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
  font-size: 14px;
}

.error {
  color: red;
  margin: 10px 0;
}
